<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="StatusCheckOnSaleRequestEnabled" value="true"/>
    <add key ="SaleRequestTimeout" value="120"/> <!--in second-->
    <add key ="SaleAckStatusCode" value="001"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="StatusCheckStart" value="30"/> <!--in second-->
    <add key ="StatusCheckInterval" value="10"/> <!--in second-->
    
    <!--start read card-->
    <add key ="ReadCardStatusCheckOnRequestEnabled" value="true"/>
    <add key ="ReadCardStatusRequestTimeout" value="120"/><!--in second-->
    <add key ="ReadCardStatusAckStatusCode" value="001"/><!--Hint : Take comma(,) separated multiple values-->
    <add key ="ReadCardStatusCheckStart" value="10"/><!--in second-->
    <add key ="ReadCardStatusCheckInterval" value="5"/><!--in second-->
    <!--end-->

    <!--start add money-->
    <add key ="AddMoneyStatusCheckOnRequestEnabled" value="true"/>
    <add key ="AddMoneyStatusRequestTimeout" value="120"/><!--in second-->
    <add key ="AddMoneyStatusAckStatusCode" value="001"/><!--Hint : Take comma(,) separated multiple values-->
    <add key ="AddMoneyStatusCheckStart" value="30"/><!--in second-->
    <add key ="AddMoneyStatusCheckInterval" value="10"/><!--in second-->
    <!--end-->
    
    <!--start update balance-->
    <add key ="UpdateBalanceStatusCheckOnRequestEnabled" value="true"/>
    <add key ="UpdateBalanceStatusRequestTimeout" value="120"/><!--in second-->
    <add key ="UpdateBalanceStatusAckStatusCode" value="001"/><!--Hint : Take comma(,) separated multiple values-->
    <add key ="UpdateBalanceStatusCheckStart" value="30"/><!--in second-->
    <add key ="UpdateBalanceStatusCheckInterval" value="10"/><!--in second-->
    <!--end-->
    
    <!--start create services-->
    <add key ="CreateServiceStatusCheckOnRequestEnabled" value="true"/>
    <add key ="CreateServiceStatusRequestTimeout" value="120"/><!--in second-->
    <add key ="CreateServiceStatusAckStatusCode" value="001"/><!--Hint : Take comma(,) separated multiple values-->
    <add key ="CreateServiceStatusCheckStart" value="10"/><!--in second-->
    <add key ="CreateServiceStatusCheckInterval" value="5"/><!--in second-->
    <!--end-->
    
    <!--start check balance-->
    <add key ="CheckBalanceStatusCheckOnRequestEnabled" value="true"/>
    <add key ="CheckBalanceStatusRequestTimeout" value="120"/><!--in second-->
    <add key ="CheckBalanceStatusAckStatusCode" value="001"/><!--Hint : Take comma(,) separated multiple values-->
    <add key ="CheckBalanceStatusCheckStart" value="10"/><!--in second-->
    <add key ="CheckBalanceStatusCheckInterval" value="5"/><!--in second-->
    <!--end-->
    
    <!--start update card-->
    <add key ="UpdateCardStatusCheckOnRequestEnabled" value="true"/>
    <add key ="UpdateCardStatusRequestTimeout" value="120"/><!--in second-->
    <add key ="UpdateCardStatusAckStatusCode" value="001"/><!--Hint : Take comma(,) separated multiple values-->
    <add key ="UpdateCardStatusCheckStart" value="30"/><!--in second-->
    <add key ="UpdateCardStatusCheckInterval" value="10"/><!--in second-->
    <!--end-->
    
    
    
    <add key ="TransactionPendingStatusCodes" value="103"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="DeviceInstance" value="'%VID_2FB8&amp;PID_2205&amp;MI_01%'"/>  <!--Hint : Replace "&" with "&amp;"-->
  </appSettings>
</configuration>