<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="StatusCheckOnSaleRequestEnabled" value="true"/>
    <add key ="SaleRequestTimeout" value="120"/> <!--in second-->
    <add key ="SaleAckStatusCode" value="001,1101"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="StatusCheckStart" value="5"/> <!--in second-->
    <add key ="StatusCheckInterval" value="5"/> <!--in second-->
    <add key ="TransactionPendingStatusCodes" value="103,1101"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="DeviceInstances" value="'%VID_2FB8&amp;PID_2205&amp;MI_01%','%VID_1234&amp;PID_0101%','%VID_2FB8&amp;PID_2466&amp;MI_02%','%VID_2FB8&amp;PID_246E&amp;MI_00%','%VID_05C6&amp;PID_9027&amp;MI_00%','%VID_26F1&amp;PID_57D4&amp;MI_00%'"/>  
    <!--Hint : Replace "&" with "&amp;"-->
    <!--Comma separated values for A910, B910(Base), A910S(normal), A910S(sdt), P2_SE, DX8000 respectively-->
    <add key ="ReadWriteTimeout" value="6"/>
    <add key ="EnableLog" value="1"/> <!--To enable/disable log, the file will be generated at the location of dll-->
    <add key ="RetryOnError" value="true"/>   <!--To enable/disable RetryOnError, when the port is closed intermetently-->
    <add key ="PrintMerchantInfo" value="false"/><!--To enable/disable PrintMerchantInfo, on print slip-->
    <add key ="LogFileStoreDays" value="10"/> <!--To keep log files of upto {T - value} days-->


    <!--start read card-->
    <add key ="ReadCardStatusCheckOnRequestEnabled" value="true"/>
    <add key ="ReadCardStatusRequestTimeout" value="120"/> <!--in second-->
    <add key ="ReadCardStatusAckStatusCode" value="001,002,1101"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="ReadCardStatusCheckStart" value="10"/> <!--in second-->
    <add key ="ReadCardStatusCheckInterval" value="5"/> <!--in second-->
    <!--end-->

    <!--start update card-->
    <add key ="UpdateCardStatusCheckOnRequestEnabled" value="true"/>
    <add key ="UpdateCardStatusRequestTimeout" value="120"/> <!--in second-->
    <add key ="UpdateCardStatusAckStatusCode" value="001,002,1101"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="UpdateCardStatusCheckStart" value="10"/> <!--in second-->
    <add key ="UpdateCardStatusCheckInterval" value="10"/> <!--in second-->
    <!--end-->

  </appSettings>
</configuration>