<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="StatusCheckOnSaleRequestEnabled" value="true"/>
    <add key ="SaleRequestTimeout" value="120"/> <!--in second-->
    <add key ="SaleAckStatusCode" value="001"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="StatusCheckStart" value="30"/> <!--in second-->
    <add key ="StatusCheckInterval" value="10"/> <!--in second-->
    <add key ="TransactionPendingStatusCodes" value="103"/> <!--Hint : Take comma(,) separated multiple values-->
    <add key ="DeviceInstance" value="'%VID_2FB8&amp;PID_2205&amp;MI_01%'"/>  <!--Hint : Replace "&" with "&amp;"-->
  </appSettings>
</configuration>